/*****
*siteup boilerplate by ermeson silva
*****/

body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
a:hover, a:visited, a{
	text-decoration: none;
	text-decoration: none;
  transition: color 0.2s;
  -moz-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
}
/*header area*/
.top-header{
	background: #fff;
	position: fixed;
	width: 100%;
	z-index: 333;
	border-bottom: solid 3px #eee;
}
.header-row{
	margin: 0;
	padding: 0;
}
.top-header img.logo{
	float: left;
	transition:all 0.7s ease 0s;
	-webkit-transition:all 0.7s ease 0s;
	-moz-transition:all 0.7s ease 0s;
	-o-transition:all 0.7s ease 0s;
	-ms-transition:all 0.7s ease 0s;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  transition:all 0.7s ease 0s;
	-webkit-transition:all 0.7s ease 0s;
	-moz-transition:all 0.7s ease 0s;
	-o-transition:all 0.7s ease 0s;
	-ms-transition:all 0.7s ease 0s;
}
.navbar-toggle span{
	color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	padding-top: 30px;
}
section{
	padding: 60px 0;
}
ul.nav{
	margin: 0;
	padding: 0;
}
.navbar-default .navbar-nav>li>a {
 	font-size: 18px;
	color: #864C93;
	font-weight: 400;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
	padding: 12px 20px;
	border-radius: 5px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: red;
	background-color: #fff;
}
.navbar-default .navbar-toggle {
  border-color: #ccc;
  margin-top: 35px;
}
/*hero area*/
.hero{
	background: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.hero h3{
	font-size: 30px;
	color: #fff;
	font-weight: 400;
	margin-top: 20px;
}
.hero h1{
	font-size: 68px;
	color: #fff;
	margin-top: 260px;
	font-weight: 800;
	text-transform: uppercase;
}
.hero p{
	font-size: 18px;
	color: #fff;
}
.hero img{
	margin: 50px;
}
.hero button{
	width: 190px;
	height: 50px;
	font-size: 14px;
	color: rgba(255,255,255,0.5);
	background: transparent;
	border-radius: 30px;
	border: 3px solid rgba(255,255,255,0.4);
	border-color: rgba(255,255,255,0.4);
	font-weight: 600;
	margin: 20px 0 120px 0;
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
}
.hero button:hover{
	background: #864C93;
	color: #fff;
}
.hero-404{
  background-image: url(../img/404.gif);
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  padding: 300px 0;
}
.hero-404 h1{
  color: #fff;
  font-weight: bold;
  font-size: 60px;
}

.hero-404 h3{
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}
.description{
	max-width: 470px;
	color: #888;
	font-weight: 400;
	font-size: 18px;
}
.list-features{
	margin-top: 40px;
}
.feat h4{
	color: #121212;
	font-weight: 400;
}
.feat p{
	color: #888;
}
.mini{
	font-size: 13px;
}
.contact-form{
	margin: 0;
	padding: 0;
	background: #0b0b0b;
	overflow: hidden;
}
.contact-form input{
	text-align: center;
	margin-bottom: 50px;
	border-bottom: 2px solid #898989;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	background: transparent;
	color: #fff;
}
.contact-form input:focus{
	outline: none;
}
input.name{
	margin-top: 55px;
	width: 640px;
}
input.email{
	width: 640px;
}
input.message{
	width: 920px;
}
.contact-form input.submit-btn{
	width: 200px;
	height: 50px;
	border:0;
	background: #cfc91d;
	font-size: 14px;
	color: #0b1016;
	font-weight: 800;
	margin:auto;
	margin: 0 50px;
	margin-bottom: 70px;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
}
.contact-form input.submit-btn:hover{
	background: red;
	color: #fff;
}

.form-input::-webkit-input-placeholder {
color:#EFEFEF;
}
.form-input:-moz-placeholder { /* Firefox 18- */
   color:#EFEFEF;
}

.form-input::-moz-placeholder {  /* Firefox 19+ */
   color:#EFEFEF;
}

.form-input:-ms-input-placeholder {
   color:#EFEFEF;
}
/*footer area*/
.footer{
	background: #eee;
	padding: 30px 0;
}
.footer p{
	color: #7e8287;
	font-size: 16px;
	padding: 15px 0 0 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ccc;
}
.nivo-lightbox-image img{
	width: 600px;
	height: 400px;
}
.social{
	display: inline-flex;
	list-style: none;
}
.list{
	list-style: none;
	display: inline-flex;
	font-size: 16px;
	padding: 15px 0 0 0;
}
.list li{
		margin: 0 10px;
}
.list li a{
	color: #8c8c8c;
}
.list li a:hover{
	color: #000;
	text-decoration: none;
	transition: color 0.2s;
  -moz-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
}



/******************************
responsive area
********************************/
/* lg */
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {


}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.single-service{
		margin-bottom: 30px;
	}
	.navbar-default .navbar-nav>li>a{
		padding: 12px 10px;
	}
	input.message {
	  width: 718px;
	}
}

/* xs */
@media (min-width: 480px) and (max-width: 767px) {
	input.name {
	  margin-top: 55px;
	  width: 420px;
	}
	input.email{
		width: 420px;
	}
	input.message{
		width: 420px;
	}
	.hero h1 {
	  font-size: 60px;
	  letter-spacing: 3px;
	}
	.about-inside{
		padding: 10px;
	}
}

/* XS Portrait */
@media (max-width: 479px) {
	.logo{
		margin-top: 10px;
	}
	input.name{
		margin-top: 55px;
		width: 275px;
	}
	input.email{
		width: 275px;
	}
	input.message{
		width: 275px;
	}
	.contact-form input.submit-btn{
		width: 200px;
		height: 50px;
		border:0;
	}
	.hero h1 {
		  font-size: 38px;
		  letter-spacing: 0px;
	}
	.navbar-header{
		margin-top: 5px !important;
	}
	.about-inside{
		padding: 0px;
	}
}
